#board {
    width: 640px;
    height: 640px;
    border: 2px solid brown;
    display: flex;
    margin: var(--inner-margin);
}

.not_flipped {
    flex-direction: row;
    flex-wrap: wrap;
}

.board_flipped {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.space {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    cursor: default;
}

.white_space {
    background-color: lightgray;
}

.black_space {
    background-color: darkgray;
}

.highlighted_space {
    background-color: orange;
}

.piece {
    cursor: grab;
    user-select: none;
}

.piece:active {
    cursor: grabbing;
}

.selected {
    box-sizing: border-box;
    border: 4px solid green;
}

.hidden {
    display: none;
    visibility: hidden;
    height: 0px;
    width: 0px;
}